@use "../../variables" as *;
@use "../../functions" as *;

$input-group-text-padding-y: 0.375rem !default;
$input-group-text-padding-x: 0.75rem !default;
$input-group-text-border-width: $border-width !default;
$input-group-text-border-color: color($gray, -70) !default;
$input-group-text-border-radius: $border-radius !default;
$input-group-text-background-color: color($gray, -80) !default;
$input-group-text-color: color($gray, 60) !default;
