@use "../../functions" as *;
@use "../../variables" as *;

$modal-background-color: rgba($black, 0.75) !default;
$modal-z-index: 1010 !default;
$modal-transition-duration: $transition-duration !default;

$modal-dialog-width: 600px !default;
$modal-dialog-padding-y: 0.5em !default;
$modal-dialog-padding-x: 0.5em !default;
$modal-dialog-border-radius: $border-radius !default;
$modal-dialog-background-color: $white !default;

$modal-dialog-sm-width: 300px !default;

$modal-dialog-lg-width: 900px !default;

$modal-header-padding-top: 1em !default;
$modal-header-padding-x: 1em !default;

$modal-close-button-margin-top: -1em !default;
$modal-close-button-margin-right: -1em !default;

$modal-body-padding-y: 1em !default;
$modal-body-padding-x: 1em !default;

$modal-footer-padding-y: 1em !default;
$modal-footer-padding-x: 1em !default;
$modal-footer-background-color: $background-color !default;
