@use "../../functions" as *;
@use "progress-variables" as *;

.progress {
    display: flex;
    height: $progress-height;
    border-radius: $progress-border-radius;
    background-color: $progress-background-color;
    overflow: hidden;

    &__bar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $progress-bar-background-color;
        font-size: $progress-bar-font-size;
        color: $progress-bar-color;

        &--striped {
            background-image: $progress-bar-striped-background-image;
            background-size: $progress-bar-striped-background-size $progress-bar-striped-background-size;
        }
    }
}
